@import "../SignInPage/Style/Ellipse.css";
@import "../SignInPage/Style/EllipseSignUpButton.css";
@import "../SignInPage/Style/EllipseCenterText.css";
@import "../SignInPage/Style/UsernameField.css";
@import "../SignInPage/Style/PasswordField.css";
@import "../SignInPage/Style/LoginButton.css";