

.passwordField {
    margin-top: 6%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 2.85vh;
    background: #e9e8e8;
    width: 49.9vh;
    height: 6.5vh;
    flex-shrink: 0;
    border-color: transparent;
    padding-left: 20px;
}

.passwordTextInput {
    height: 6vh;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: transparent;
    border-color: transparent !important;
    font-size: 2.4vh;
    font-family: Alef;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.passwordTextInput:focus {
    outline: none;
}
.passwordIcon {
    font-size: 3.26vh;
    padding-top: 1.4vh;
    color: #878787;
}