@import '../Components/HomePage/TutorialPage/TutorialPage.css';
@import '../Components/HomePage/ServicePage/ServicePage.css';

@media (max-width: 2600px) {
  html {
      font-size: 26px;
  }
}

@media (max-width: 2400px) {
  html {
      font-size: 24px;
  }
}

@media (max-width: 2200px) {
  html {
      font-size: 22px;
  }
}

@media (max-width: 2000px) {
  html {
      font-size: 20px;
  }
}

@media (max-width: 1800px) {
  html {
      font-size: 18px;
  }
}

/* standard design scale */
@media (max-width: 1600px) {
  html {
      font-size: 16px;
  }
}

@media (max-width: 1400px) {
  html {
      font-size: 14px;
  }
}

@media (max-width: 1200px) {
  html {
      font-size: 12px;
  }
}

@media (max-width: 1000px) {
  html {
      font-size: 10px;
  }
}


body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F8EC;
  min-width: 375px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test{
  border: 1px solid red;
}

/* bigger than 900px */
.logoBiger{
  width: 32px;
  height: 32px;
  margin-right: 20px;
}

@media (max-width: 900px) {
  .logoBiger {
    display: none;
  }
}

/* smaller than 900px */
.logoSmaller{
  width: 32px;
  height: 32px;
  margin-right: 20px;
  display: none;
}

@media (max-width: 900px) {
  .logoSmaller {
    display: block;
  }
}

.navbarNavigation{
  margin-right: 20px!important;
  font-size: 12px!important;
  color: #000!important;
  font-family: "Alef"!important;
}

.navbarNavigationAssessment{
  margin-right: 20px!important;
  color: white!important;
  background-color: #4DB193!important;
  border-radius: 12px!important;
  font-size: 12px!important;
  font-family: "Alef"!important;
  padding: 0 10px!important;
}

/* navbar setting */
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  box-shadow:none!important;
  background-color: #F0F8EC!important;
}

.navbar{
  position: fixed!important;
  margin-bottom: 100px!important;
  z-index: 10;
}



.stratButton {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(77, 177, 147, 1) 0%,
    rgba(222, 251, 140, 1) 100%
  );
  border-radius: 35rem;
  border-width: 0rem;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(77, 177, 147, 1) 0%,
    rgba(222, 251, 140, 1) 100%
  );
  box-shadow: 0 15px 25px -5px rgba(97, 238, 139, 0.5);
  border-image-slice: 1;
  color: white;
  width: 180px;
  height: 55px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.3s ease-in-out;
}
.stratButton:hover{
  transform: translateY(3px);
  box-shadow: none;
}

.stratButton:active{
  opacity: 0.5;
}

.stratButton > img {
  transition: all 0.3s ease-in-out;
}

.stratButton:hover > img {
  transform: translateX(5px);
}

.stratButtonArrow{
  width: 10px;
  height: 25px;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  /* margin-top: 14px; */
  padding-right: 10px;
}

.stratButtonContent{
  width: 50px;
  height: 20px;
  /* display: inline; */
  flex-grow: 1;
  align-items: center;
  align-self: center;
  display: flex;
  align-items: flex-end;  
  /* margin-top: 16px; */
  font-size: larger;
  padding-left: 18px;
  font-weight: bold;
}


.css-1k7sk4d-MuiGrid-root{
  margin: 0 auto!important;
}
/* .serviceInfo{
  border: 1px solid red;
  max-width: 700px;
  margin: 0 auto;
  padding-left: 30px;
} */

@media (min-width: 900px) {
  .serviceInfoTitle{
    font-family: "Angkor";
    font-size: 60px;
    margin-top: 20px;
  }
}

@media (min-width: 500px) and (max-width: 900px){
  .serviceInfoTitle{
    font-family: "Angkor";
    font-size: 60px;
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .serviceInfoTitle{
    font-family: "Angkor";
    font-size: 45px;
    margin-top: 30px;
  }
}

@media (min-width: 900px) {
  .serviceInfo {
    max-width: 500px;
    margin-left: 50px;
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  .serviceInfo {
    margin: 0 10%;
  }
}

@media (min-width: 900px) {
  .ServiceDoctor{
    /* border: 1px solid red; */
    max-width: 500px;
    max-height: 400px;
    float: right;
    margin-top: 0px;
    margin-right: 60px;
  }
}

@media (max-width: 900px) {
  .ServiceDoctor{
    min-width: 400px; 
  }
}

@media (min-width: 500px) and (max-width: 900px){
  .ServiceDoctor{
    min-width: 400px; 
  }
}

@media (max-width: 500px) {
  .ServiceDoctor{
    min-width: 300px; 
  }
}

@media (max-width: 900px) {
  .nextButton{
    display: none;
  }
}

@media (min-width: 900px) {
  .diseaseBook{
    margin-top: 100px;
    width: 400px;
    transform: scale(2);
    position: relative;
    z-index: -1;
  }
}

@media (min-width: 500px) and (max-width: 900px){
  .diseaseBook{
    margin-top: 50px;
    width: 300px;
    transform: scale(2);
    position: relative;
    z-index: -1;
  }
}

@media (max-width: 500px) {
  .diseaseBook{
    margin-top: -60px;
    width: 200px;
    transform: scale(2);
  }
}

@media (min-width: 900px) {
  .tutorialHand{
    float: right;
    width: 45%;
    vertical-align: top;
    min-width: 40%;
  }
}

@media (min-width: 900px) {
  .tutorialInfor{
    display: inline-block;
    width: 50%;
    margin-top: 20px;
  }
}

@media (min-width: 500px) and (max-width: 900px){
  .tutorialHand{
    width: 400px;
    margin: 0 auto;
  }
}