@import "../Components/IntroPage/IntroPageStyles.css";

@media (max-width: 2600px) {
    html {
        font-size: 26px;
    }
}

@media (max-width: 2400px) {
    html {
        font-size: 24px;
    }
}

@media (max-width: 2200px) {
    html {
        font-size: 22px;
    }
}

@media (max-width: 2000px) {
    html {
        font-size: 20px;
    }
}

@media (max-width: 1800px) {
    html {
        font-size: 18px;
    }
}

/* standard design scale */
@media (max-width: 1600px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 10px;
    }
}





/* CSS for intro title */

.titleHolder {
    padding-left: 20%;
    display: flex;
    width: 60%;
    height: 10%;
    padding-top: 18%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleDateText {
    color: #848389;
    font-family: "Alef";
    font-size: 25px;
}

.titleText {
    color: #262628;
    text-align: center;
    font-size: 40px;
    font-family: Alef;
    font-weight: 700;
}


/* CSS for intro banner */

.bannerHolder {
    display: flex;
    padding-top: 10%;
    justify-content: space-between;
    width: 73%;
    margin-left: 13.5%;
    height: 22.9rem;
    padding-bottom: 10%;
}

.firstHalfSplitHolder {
    display: flex;
    width: 48.8%;
    gap: 1.4rem;
    height: 100%;
    flex-direction: column;
}

.secondHalfSplitHolder {
    display: flex;
    width: 48.8%;
    gap: 1.4rem;
    height: 100%;
}

.firstLeftVSplitHolder {
    display: flex;
    width: 100%;
    gap: 1.4rem;
    height: 47%;
}

.secondLeftVSplitHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 1.4rem;
    height: 47%;
    border-radius: 8px;
    background: #A6DADA;
}

.firstLeftHSplitHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 47%;
    gap: 1.4rem;
    background-color: #9AD5F5;
    border-radius: 8px;
}

.secondLeftHSplitHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 47%;
    gap: 1.4rem;
    background-color: #F5AB9A;
    border-radius: 8px;
}

.firstRightHSplitHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 80%;
    background-color: #4DB193;
    border-radius: 8px;
}

.secondRightHSplitHolder {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    height: 100%;
    width: 42%;
}

.firstRightVSplitHolder {
    flex-direction: column-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    border-radius: 8px;
    gap: 1.4rem;
    background-color: #959FF9;
}

.secondRightVSplitHolder {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    border-radius: 8px;
    gap: 1.4rem;
    background-color: #93CEA5;
}

.notificationText {
    margin-top: 10%;
    width: 100%;
    text-align: center;
    color: #262628;
    text-align: center;
    font-size: 1rem;
    font-family: Alef;
    font-weight: 700;
    line-height: 28px;
}

.ourTeamText {
    padding-top: 20%;
    width: 100%;
    text-align: center;
    color: #262628;
    text-align: center;
    font-size: 1rem;
    font-family: Alef;
    font-weight: 700;
    line-height: 28px;
}





.healthAssessmentText {
    padding-top: 23%;
    color: #262628;
    text-align: center;
    font-size: 1.25rem;
    font-family: Alef;
    font-weight: 700;
    line-height: 28px;
}




.lifeStyleText {
    padding-top: 28%;
    color: #262628;
    text-align: center;
    font-size: 1rem;
    font-family: Alef;
    font-weight: 700;
    line-height: 28px;
}

.drugInteractionText {
    padding-top: 28%;
    color: #262628;
    text-align: center;
    font-size: 1rem;
    font-family: Alef;
    font-weight: 700;
    line-height: 28px;
}

.symptomFinderText {
    padding-top: 10%;
    color: #262628;
    text-align: center;
    font-size: 1.125rem;
    font-family: Alef;
    font-weight: 700;
    line-height: 28px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /* Or whatever width you want */
}