@import "../Components/IntroPage/IntroPageStyles.css";






/* CSS for intro title */

.titleHolder {
    padding-left: 20%;
    display: flex;
    width: 60%;
    height: 10%;
    padding-top: 18%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleDateText {
    color: #848389;
    font-family: "Alef";
    font-size: 25px;
}

.titleText {
    color: #262628;
    text-align: center;
    font-size: 40px;
    font-family: Alef;
    font-weight: 700;
}


/* CSS for intro banner */

.bannerHolder {
    display: flex;
    padding-top: 10%;
    justify-content: space-between;
    width: 73%;
    margin-left: 13.5%;
    height: 22.9rem;
    padding-bottom: 10%;
}

.firstHalfSplitHolder {
    display: flex;
    width: 48.8%;
    gap: 1.4rem;
    height: 100%;
    flex-direction: column;
}

.secondHalfSplitHolder {
    display: flex;
    width: 48.8%;
    gap: 1.4rem;
    height: 100%;
}

.firstLeftVSplitHolder {
    display: flex;
    width: 100%;
    gap: 1.4rem;
    height: 47%;
}

.secondLeftVSplitHolder {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 1.4rem;
    height: 47%;
    border-radius: 8px;
    background: #A6DADA;
    border: 2px solid #c3c6ce;
    transition: 0.3s ease-out;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.secondLeftVSplitHolder:hover{
    border-color: #4e8184;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.firstLeftHSplitHolder {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 47%;
    gap: 1.4rem;
    background-color: #9AD5F5;
    border-radius: 8px;
    border: 2px solid #c3c6ce;
    transition: 0.3s ease-out;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.firstLeftHSplitHolder:hover{
    border-color: #4a77ae;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.secondLeftHSplitHolder {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 47%;
    gap: 1.4rem;
    background-color: #F5AB9A;
    border-radius: 8px;
    border: 2px solid #c3c6ce;
    transition: 0.3s ease-out;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.secondLeftHSplitHolder:hover{
    border-color: #a95b5b;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.firstRightHSplitHolder {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 80%;
    background-color: #4DB193;
    border-radius: 8px;
    border: 2px solid #c3c6ce;
    transition: 0.3s ease-out;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.firstRightHSplitHolder:hover{
    border-color: #257127;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.secondRightHSplitHolder {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    height: 100%;
    width: 42%;
}

.firstRightVSplitHolder {
    cursor: pointer;
    flex-direction: column-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    border-radius: 8px;
    gap: 1.4rem;
    background-color: #959FF9;
    border: 2px solid #c3c6ce;
    transition: 0.3s ease-out;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.firstRightVSplitHolder:hover{
    border-color: #4778b1;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.secondRightVSplitHolder {
    cursor: pointer;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    border-radius: 8px;
    gap: 1.4rem;
    background-color: #93CEA5;
    border: 2px solid #c3c6ce;
    transition: 0.3s ease-out;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.secondRightVSplitHolder:hover{
    border-color: #57933b;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.notificationText {
    margin-top: 10%;
    width: 100%;
    text-align: center;
    color: #262628;
    text-align: center;
    font-size: 1rem;
    font-family: Alef;
    font-weight: 700;
    line-height: 28px;
}

.ourTeamText {
    padding-top: 20%;
    width: 100%;
    text-align: center;
    color: #262628;
    text-align: center;
    font-size: 1rem;
    font-family: Alef;
    font-weight: 700;
    line-height: 28px;
}





.healthAssessmentText {
    padding-top: 23%;
    color: #262628;
    text-align: center;
    font-size: 1.25rem;
    font-family: Alef;
    font-weight: 700;
    line-height: 28px;
}




.lifeStyleText {
    padding-top: 28%;
    color: #262628;
    text-align: center;
    font-size: 1rem;
    font-family: Alef;
    font-weight: 700;
    line-height: 28px;
}

.drugInteractionText {
    padding-top: 28%;
    color: #262628;
    text-align: center;
    font-size: 1rem;
    font-family: Alef;
    font-weight: 700;
    line-height: 28px;
}

.symptomFinderText {
    padding-top: 10%;
    color: #262628;
    text-align: center;
    /* font-size: 1.125rem; */
    font-size: 105%;
    font-family: Alef;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /* Or whatever width you want */
}