@import "../Components/OurTeamPage/OurTeamPage.css";



.ellipseLayer {
    border-radius: 283%;
    background: rgba(77, 177, 147, 0.30);
    height: 129%;
    width: 183.5%;
    right: 45.6%;
    top: -78%;
    position: absolute;
    z-index: -3;
}

.ellipseTitleText {
    color: #4DB294;
    font-family: Alef;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    bottom: 26%;
    right: 18%;
    position: absolute;
    z-index: -3;
}

.ellipseContentText {
    color: #223C40;
    font-family: Alef;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    position: absolute;
    bottom: 20%;
    right: 17%;


}

.ellipseContentText2 {
    color: #223C40;
    font-family: Alef;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    position: absolute;
    bottom: 17.5%;
    right: 17%;
    white-space: nowrap;
    text-indent: 7%;
}

.container {
    display: flex;
    padding-top: 5%;
    width: 100%;
    /* height: 628%; */
}

.lineImg {
    height: 452vh;
    top: 18.8vh;
    left: 17.5vw;
    z-index: -2;
    position: absolute;
}


.contentHolder {
    display: flex;
    width: 100%;
    /* height: 100%; */
    z-index: -1;
    flex-direction: column;
}

.backEndHolder {
    margin-left: 23vw;
    margin-top: 10.3vh;
    display: flex;
}

.frontEndHolder {
    display: flex;
    margin-left: 41.5vw;
    margin-top: 21.7vh;
}

.firstSeparationLine {
    margin-top: -4vh;
    width: 0.13vw;
    height: 24.1vh;
    flex-shrink: 0;
    border-radius: 2px;
    background: #088F8F;
    margin-left: 7vw;
}

.frontEndHolder2{
    margin-top: 20vh;
    display: flex;
    margin-left: 22.8vw;
}

.researchHolder{
    display: flex;
    margin-top: 57.3vh;
    margin-left: 24.3vw;
}

.algorithmHolder{
    display: flex;
    margin-top: 67vh;
    margin-left: 24.3vw;
}