.test_padding{
  padding-top: 110px;
}

.riskSearchBar{
  text-align: center;
  margin-bottom: 100px;
}

.riskSearchInput{
  max-width: 800px;
  width: 70%;
  height: 40px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 8px 40px 0px #00000026;
  display: inline-block;
}

.riskSearchButton{
  height: 42px;
  width: 42px;
  background-color: #4DB193;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
  position: relative;
  top: 3px;
  z-index: -10;
}

.riskSearchButtonSvg{
  background-color: #4DB193;
  height: 15px;
  width: 15px;
  margin-top: 13px;
}

.card{
  /* border: 1px solid red; */
  /* width: 250px; */
  text-align: center;
  background-color: rgba(255, 255, 255, 0)!important;
  margin: 10px 0px 10px 0px;
  /* position: relative;
  z-index: -1; */
}

.card:hover{
  background-color: gray;
}

.cardTitle{
  height: 22px;
}

.totolCards{
  margin: 0 10%;
}

.cardImg1{
  width: 30%;
  margin-top: 10px;
  height: 80px;
}

.bottomLine{
  height: 3px;
  /* background: linear-gradient(90deg, #5AA7A7 0%, #96D7C6 127.46%); */
  margin-top: 30px;
}

.bottomLineCard{
  height: 3px;
  margin: 10px 10% 0 10% ;
}

@media (max-width: 1280px){
  .displayNone{
    display: none;
  }
}

.symptomsTitle{
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
  border-top: 0.5px solid #4DB193;
}

.riskHeart{
  width: 180px;
  text-align: center;
  color: #4DB193;
  font-size: 14px;
  margin-left: 10%;
  margin-bottom: 20px;
}

.riskList{
  width: 32px;
  float: right;
  margin-right: 10%;
  position: relative;
  top: 30px;
  right: 5%;
  z-index: -1;
}

.riskCards{
  margin-bottom: 100px;
}

.Popper{
  border: 10px solid red;
  position: absolute;
  position: relative;
  position: fixed;
}

.hh{
  border-radius: 8px;
  transition: opacity 20s ease-in-out;
  
}

.cardDetailItemTitle{
  text-align: center;
  margin-top: 10px;
}

.cardDetailItem_overflow{
  overflow: scroll;
  margin-top: 10px;
  /* border: 1px solid red; */
  text-align: center;
  margin: 10px 10px 0 10px;
}

.cardDetailItem{
  /* border: 1px solid red; */
  width: 85%;
  font-size: 12px;
  display: inline-block;
}

.cardDetailItemAdd{
  margin: 1px 5px 0 5px;
  justify-self: end;
  display: inline-block;
  vertical-align: top;
}

.cardDetailCross{
  float: right;
  margin-right: 10px;
}