@import "../Components/SignInPage/SignInPage.css";

@media (min-width: 900px) {
    .pageSpliter {
        display: flex;
    }

    .pageSpliter1 {
        display: none;
    }

    .ellipseLeftRightImg{
        display: none;
    }
  }

@media (max-width: 900px) {
    .pageSpliter {
        display: none;
    }

    
}

.ellipsePage {
    display: flex;
    flex: 757;
    height: 100vh;
    overflow: hidden;
}

.signInPage {
    display: flex;
    flex-direction: column;
    flex: 755;
}

.ellipsePageContent {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 0%;
    height: 100vh;
    width: 50%;
    z-index: 2;
}


.signUpText {
    padding-top: 2vh;
    text-align: center;
    color: #FFF;
    font-size: 2.4vh;
    font-family: Alef;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.newHereText {
    text-align: center;
    color: #FFF;
    font-size: 4.1vh;
    font-family: Alef;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.ellipseLeftImg {
    height: 24.4vh;
    width: 14.2vh;
    padding-left: 9.7vh;
    padding-top: 8vh;
}

.ellipseRightImg {
    position: absolute;
    height: 23.6vh;
    width: 24.2vh;
    margin-left: 35vh;
    margin-top: 68.43vh;
}

.ellipseLeftRightImg{
    /* border: 1px solid red; */
    text-align: center;
    margin-top: -400px;
    position: relative;
    z-index: -10;
}

.ellipseLeftImg1 {
    /* border: 1px solid red; */
    height: 24.4vh;
    width: 24.2vh;
    margin-right: 10px;
    padding-bottom: 50px;
    opacity: 0.5;
}

.ellipseRightImg1 {
    /* border: 1px solid red; */
    height: 23.6vh;
    width: 24.2vh;
    margin-left: 10px;
    opacity: 0.5;
}

.EllipseCenterImg1{
    width: 40.2vh;
    margin-top: -80px;
    opacity: 0.5;
}

.ellipseCenterImg {
    position: absolute;
    width: 30.2vh;
    margin-left: 25vh;
    margin-top: 55.43vh;
}

.signInText {
    color: #223C40;
    font-size: 5.3vh;
    font-family: Alef;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-align: center;
    padding-top: 23.6vh;
}

@media (min-width: 900px) {
    .signUpText1 {
        color: #223C40;
        font-size: 5.3vh;
        font-family: Alef;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        text-align: center;
        padding-top: 11.6vh;
    }
}

@media (max-width: 900px) {
    .signUpText1 {
        color: #223C40;
        font-size: 5.3vh;
        font-family: Alef;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        text-align: center;
        padding-top: 23.7vh;
    }
}



.hLine {
    margin-top: 8%;
    width: 61vh;
    height: 1px;
    background: #223C40;
    flex-shrink: 0;
    width: 73%;
    margin-left: auto;
    margin-right: auto;
}

.iconHolder{
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.gmail{
    width: 7vh;
    height: 7vh;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.gmail:hover{
    scale: 0.9;
}

.facebook{
    width: 7vh;
    height: 7vh;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.facebook:hover{
    scale: 0.9;
}

.signinButton{
    text-align: center;
    margin-top: 25px;
}

.signinButtonEach{
    display: inline-block;
    width: 49%;
    max-width: 230px;
}

@media (max-width: 900px) {
    .pageSpliter2{
        margin-bottom: -130px;
        border-radius: 20px;
        margin-top: 15px;
    }
    
    .EllipseSignUpButtonBGC{
        height: 800px;
        width: 80%;
        margin: 0 auto;
        background-color: rgba(77, 177, 147, 0.30);
        bottom: -100px;
        z-index: -1;
        margin-top: -780px;
        border-radius: 140px;
    }
}