
.assessmentButtonHolder {
    background-color: #4db193;
    width: 250px;
    height: 50px;
    text-align: center;
    border-radius: 13px;
    display: inline-block;
    margin-right: 20px;
  }
  
  .assessmentButtonText {
    display: inline-block;
    color: white;
    margin-top: 15px;
    font-family: 'Alef';
    font-size: 15px;
  }
  
  .assessmentButtonImg {
    width: 30px;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 4px;
  }