

.startItLaterButtonText{
    cursor: pointer;
    font-family: "Alef";
    font-size: 15px;
    border: 1px solid #4db193;
    width: 150px;
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 16px;
    text-align: center;
    border-radius: 13px;
    color: #4db193;
    margin-top: 20px;
    user-select: none;
    transition: all 0.3s ease-in-out;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.startItLaterButtonText:hover{
    
    transform: translateY(3px);
}

.startItLaterButtonText:active{
    transform: scale(90%);
}