.algorithmTextHolder {
    display: flex;
    flex-direction: column;
}

.algorithmTitleText {
    color: rgba(236, 99, 61, 0.80);
    font-family: Alef;
    font-size: 1.6vw;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    padding-bottom: 2.4vh;
}

.algorithmContentText {
    color: #223C40;
    font-family: Nanum Pen Script;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.1vh;
}

.algorithmDescription {
    color: #223C40;
    font-family: Alef;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    width: 17vw;
    padding-left: 2.9vw;
    margin-top: 15.5vh;
}