.researchTextHolder {
    display: flex;
    flex-direction: column;
}

.researchTitleText {
    color: #00D200;
    font-family: Alef;
    font-size: 1.58vw;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    padding-bottom: 2.44vh;
}

.researchContentText {
    color: #223C40;
    font-family: Nanum Pen Script;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.1vh;
}

.researchDescription {
    color: #223C40;
    width: 17vw;
    font-family: Alef;
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin-left: 3vw;
    margin-top: 15.5vh;
}